@using Core.News

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            @if(@news.ImageUrl != null)
            {
                <img src="@news.ImageUrl?.AbsoluteUri" alt="@news.Title" class="img-fluid rounded-start">
            }
            else
            {
                <img src="https://via.placeholder.com/300" alt="Imagem não disponível" class="img-fluid rounded-start">
            }
        </div>
        <div class="col-md-8 position-relative">
            <div class="card-body d-flex flex-column" style="height: 100%;">

                <!-- Botão Copiar Link no canto superior direito -->
                <button class="btn btn-sm btn-light position-absolute top-0 end-0 m-2" onclick="copyLink()">
                    <i class="bi bi-clipboard"></i> Copiar link
                </button>

                <button class="btn btn-sm btn-light position-absolute top-0 end-0 mt-5 mx-2" onclick="openInNewTab('@news.OriginalUrl.AbsoluteUri')">
                    <i class="bi bi-box-arrow-up-right"></i> Ir para a notícia
                </button>

                <h5 class="card-title">@news.Title</h5>
                <p class="card-text">@news.Content</p>

                <p class="card-text mt-auto">
                    <small class="text-muted">@news.PublishedAt.ToString("dd/MM/yyyy")</small>
                </p>

            </div>
        </div>
    </div>
</div>

<style>
    .card {
        max-width: 100%;
    }

    .img-fluid {
        object-fit: cover;
        height: 100%;
    }
</style>

<script>
    function copyLink() {
        // Substitua pelo link que deseja copiar
        const link = "@news.OriginalUrl.AbsoluteUri";
        navigator.clipboard.writeText(link).then(function() {
            // Exibir Toastify
            Toastify({
                text: "Link copiado com sucesso!",
                duration: 3000,  // duração da notificação (3 segundos)
                close: true,  // botão de fechar
                gravity: "top",  // posição (topo)
                position: "right",  // posição (à direita)
                backgroundColor: "#4CAF50",  // cor de fundo (verde)
                stopOnFocus: true,  // para parar ao focar a notificação
            }).showToast();
        }, function(err) {
            // Exibir erro se não for possível copiar
            Toastify({
                text: "Erro ao copiar o link!",
                duration: 3000,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "#f44336",  // cor de fundo (vermelho)
                stopOnFocus: true,
            }).showToast();
        });
    }

    function openInNewTab(link) {
        window.open(link, '_blank').focus();
    }
</script>

@code {
    [Parameter]
    public News news { get; set; }
}
